.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
  }

  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #576358;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    padding: 10px 20px;
    gap: 10px;
    background: #576358;
    border-radius: 5px;
    color: #fff;
  }

  .navButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background: #576358;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;

  }